/* .container{

    margin-left:23%;
}
#event{
    text-align:center;
    margin-top: 23p;
}

.hn{
    border: 10px solid black;

} */

h1{
    margin-left: 5px;
    margin-bottom: 20px;
}
.first
{
    /* border: 2px solid black; */

width: 400px;
height: 500px;
position: absolute;
left: 40%;

}
input{
    
    font-size:20px;
    padding: 5px;
    border-radius: 21px;


    
    
}
button{
    font-size:23px;
    background-color:#978fa0;
    width: 60px;
    height: 60px; 
    margin-left: 3px;
    margin-top:  5px; 
    border-radius: 20px;
}

    



    

